.container {
    border-style: solid;
    background-color: pink;
    width: 960px;
    height: auto;
    display: flex;
    flex-direction: column;
   
}

.box {
    height: 100px;
    width: 100px;
    background-color: blue;
    border-style: dashed;
    border-color: white;
    flex: 1;
}

.row {
    height: 100px;
    border-style: solid;
    display: flex;
}