.container {
    border-style: solid;
    width: 960px;
    height: 960px;
    max-height: 960px;
    display: flex;
    flex-direction: column;
   
}

.box {
    flex: 1;
}

.row {
    display: flex;
    flex: 1;
}

.color {
    background-color: blue;
}